<!DOCTYPE html>
<html>
<head>
	<title>
		<%= title %>
	</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/tobserver.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>

	</script>
</head>
<body>
	<h1><%= title %></h1>
	<a href="/chat.html">chat</a> - 
	<a href="/circles.html">circles</a>
	
	
</body>

</html>
